.btn-toggle .p-button {
  background: transparent !important;
  color: white !important;
  outline: transparent !important;
  border: transparent !important;
}
.position-center-left {
  position: absolute;
  top: 50% !important;
}
.position-top-left {
  position: absolute;
  top: 10 !important;
}
